@font-face {
    font-family: 'customfont';
    src: url('customfont-webfont.eot');
    src: url('customfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('customfont-webfont.woff') format('woff'),
         url('customfont-webfont.ttf') format('truetype'),
         url('customfont-webfont.svg#customfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
